
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f8f9fa;
}

.title {
    font-size: 3rem;
    color: #343a40;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.25rem;
    color: #6c757d;
    margin-bottom: 2rem;
}

.homeLink {
    color: #007bff;
    text-decoration: none;
    font-size: 1.1rem;
    border: 1px solid #007bff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.homeLink:hover {
    background-color: #007bff;
    color: #ffffff;
}
